/* DESKTOP FIRST APPROACH */
/* CAMBIALE EL FONT PORQUE NO QUEDA LINDO */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  min-height: 100vh;
  height: auto; }
  body main {
    min-height: 80vh; }

#pie {
  bottom: 0;
  height: 100px;
  background-color: grey; }
  #pie .footer-container {
    height: 100%;
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #pie .footer-container a {
      text-decoration: none;
      color: black;
      font-size: 5px; }

header {
  width: 100%;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  background-color: whitesmoke; }
  header nav {
    width: 100%;
    justify-items: center; }
    header nav a {
      text-decoration: none;
      color: #3b3b3b; }
  header .page-title {
    color: #3b3b3b;
    text-align: center;
    padding: 5px;
    padding-top: 20px;
    margin-bottom: 0; }
  header .list-nav {
    width: 80%;
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px; }
    @media (max-width: 768px) {
      header .list-nav {
        width: 95%; } }
    header .list-nav a {
      text-decoration: none;
      color: #3b3b3b;
      transition: all .3s ease-in-out;
      font-size: 22px; }
      @media (max-width: 768px) {
        header .list-nav a {
          font-size: 12px; } }
      header .list-nav a:hover {
        color: black; }

.imagenPrincipal {
  width: 100%;
  display: flex;
  justify-content: center; }
  .imagenPrincipal .pleaseWork {
    width: 80%;
    margin: auto; }
    @media (max-width: 768px) {
      .imagenPrincipal .pleaseWork {
        width: 100%; } }
  .imagenPrincipal .overlayHero {
    opacity: 100;
    position: absolute; }
    .imagenPrincipal .overlayHero h2 a {
      text-decoration: none;
      color: #565656;
      animation-name: fade;
      animation-duration: 1s;
      font-size: larger; }

@keyframes fade {
  from {
    color: #dbdbdb; }
  to {
    color: #565656; } }

.playlist {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; }
  .playlist .spotify-pl {
    background-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    margin: 0%; }

.grid-about {
  background: whitesmoke; }

/*  GALLERY STYLES  */
.behind-title {
  text-align: center; }

.gallery {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }
  .gallery img {
    width: 100%; }
  @media (max-width: 768px) {
    .gallery {
      width: 95%;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px; } }
