/* DESKTOP FIRST APPROACH */
/* CAMBIALE EL FONT PORQUE NO QUEDA LINDO */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$outline: 1px solid black;


body {
  background: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  min-height: 100vh;
  height: auto;

  main {
    min-height: 80vh;
  }
}

#pie {
  bottom: 0;
  height: 55px;
  background-color: grey;

  .footer-container {
    height: 100%;
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social-links{
      display: flex;
      flex-direction: row-reverse;
      gap: 1px;
    }



    a {
      text-decoration: none;
      color: black;
      font-size: 25px;
    }
  }

}

header {
  width: 100%;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  background-color: whitesmoke;

  nav {
    width: 100%;
    justify-items: center;

    a {
      text-decoration: none;
      color: #3b3b3b;
    }
  }

  .page-title {
    color: #3b3b3b;
    text-align: center;
    padding: 5px;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: xx-large;
  }

  .list-nav {
    width: 80%;
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;

    @media (max-width: 768px) {
      width: 95%;
    }

    a {
      text-decoration: none;
      color: #3b3b3b;
      transition: all .3s ease-in-out;
      font-size: 22px;

      @media (max-width: 768px) {
        //from 0 to 768px
        font-size: 12px;
      }

      &:hover {
        color: black;
      }
    }

  }
}

.imagenPrincipal {
  width: 100%;
  display: flex;
  justify-content: center;

  .pleaseWork {
    width: 80%;
    margin: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .overlayHero {
    opacity: 100;
    position: absolute;


    h2 {
      a {
        @keyframes fade {
          from {
            color: rgb(219, 219, 219);
          }

          to {
            color: rgb(86, 86, 86);
          }
        }

        text-decoration: none;
        color: rgb(86, 86, 86);
        animation-name: fade;
        animation-duration: 1s;
        font-size: larger;

      }
    }
  }
}

.playlist {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  .spotify-pl {
    background-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    margin: 0%;
  }
}

.grid-about {
  background: whitesmoke;
}


/*  GALLERY STYLES  */



.gallery {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  img {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

/*  CONTACT FORM  */
.fan-contact {
  text-align: center;
}

.form-contact {
  width: 80%;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 6px 21px 0px rgba(0, 0, 0, 0.42);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;

  label {
    font-size: 22px;
    color: black;
  }

  .written-inputs {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;

    &:focus {
      outline: $outline;
    }
  }

  textarea {
    border: 1px solid grey;
    border-radius: 8px;
    resize: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    height: 200px;
    margin-bottom: 20px;

    &:focus {
      outline: 1px solid black;
    }
  }


  .favorite {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-bottom: 20px;

    select {
      padding: 5px;
      border: 1px solid grey;
      border-radius: 5px;

      &:focus {
        outline: 1px solid black;
      }
    }
  }
  .fan-contact{
    color: #3b3b3b;
  }

  .recieve-updates {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .submits {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    input[type="submit"] {
      font-size: 18px;
      padding: 10px 25px;
      border: 1px solid rgba(43, 170, 43, 0.893);
      border-radius: 10px;
      background-color: rgba(43, 170, 43, 0.893);
      color: white;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: rgba(65, 173, 65, 0.893);
      }
    }

    input[type="reset"] {
      font-size: 18px;
      padding: 10px 25px;
      border: 1px solid rgba(213, 71, 71, 0.848);
      border-radius: 10px;
      background-color: rgba(213, 71, 71, 0.848);
      color: white;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: rgba(231, 79, 79, 0.848);
      }
    }
  }
}

/* DISCOGRAPHY STYLES */
@mixin shadow {
  box-shadow: 1px 6px 21px 0px rgba(0, 0, 0, 0.42);
}

.discography-list {
  width: 80%;
  margin-inline: auto;
  background-color: whitesmoke;
  border-radius: 20px;
  @include shadow;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;

  .titulo-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3b3b3b;
    background-color: whitesmoke;
    margin: 5px;
  }

  .studio-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3b3b3b;
    background-color: whitesmoke;
    margin: 5px;

  }

  ul {
    list-style: none;
    color: #3b3b3b;

  }

  a {
    text-decoration: none;
    list-style: none;
    color: #3b3b3b;
  }
}

/*ABOUT*/
@mixin list {
  width: 80%;
  margin-inline: auto;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 1px 6px 21px 0px rgba(0, 0, 0, 0.42);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
.about-band {
  width: 90%;
  margin-inline: auto;
  background-color: whitesmoke;
  border-radius: 20px;
  @include shadow;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3b3b3b;
    background-color: whitesmoke;
    margin: 5px;
    font-size: larger;

  }
}

.imagen-about{
    img{
      width: 90%;
      margin-inline: auto;
      background-color: whitesmoke;
      border-radius: 20px;
      @include shadow;
    display: flex;
    }
  }

  .about-members{
  width: 90%;
  margin-inline: auto;
  background-color: whitesmoke;
  border-radius: 20px;
  @include shadow;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
    h3{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #3b3b3b;
      background-color: whitesmoke;
      margin: 5px;
      font-size: larger;
    }
    ul{
      list-style: none;
    }
  }

